pkgbase = tmux
	pkgdesc = Terminal multiplexer
	pkgver = 3.5
	pkgrel = 1
	url = https://github.com/tmux/tmux/wiki
	arch = x86_64
	license = BSD
	makedepends = git
	makedepends = systemd
	depends = libevent
	depends = libevent_core-2.1.so
	depends = libutempter
	depends = ncurses
	depends = libncursesw.so
	depends = systemd-libs
	depends = libsystemd.so
	source = git+https://github.com/tmux/tmux.git#tag=3.5
	sha256sums = b838881279beaf795bf4926212c2d3fe0d31188c83e8d9efd68dc6772c559916

pkgname = tmux
